.venue-container {
  background: url("/src/images/stadium.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  color: white;
}

.venue-container > h1 {
  font-size: 50px;
}

.stadiums {
  padding: 4rem;
  background: #fff;
  text-align: center;
}

.stadium-title {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.stadium-info {
  position: relative;
  margin: 50px 0 45px;
  border: 3px solid #ddd;
  background-color: #f2f2f2;
}

.stadium-info > h3 {
  text-align: center;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.stadium-info > h4 {
  text-align: center;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.links {
  color: black;
  text-decoration: underline;
}
